@media screen and (max-width: 780px) {
    .content-container {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 500px) {
    .content-container {
        display: flex;
        flex-direction: column;
    }
}